# R & RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rproj.user/
.Rproj.user/*
.Rproj.user/**

# Shiny temp/cache/logs
rsconnect/
.ShinyAppsLog/
.shinylogs/
logs/
tmp/
temp/

# Local environment / secrets
.env
.env.*
.Renviron
config.yml
config.local.yml

# Data & outputs you don't want in Git
data/
Data/
output/
outputs/
exports/
reports/
*.rds
*.RDS
*.sqlite
*.db
*.bak
*.zip
*.xlsx
*.xlsm
*.csv

# OS noise
Thumbs.db
.DS_Store

# OneDrive conflict files
* - Conflicted copy* 
~$*
